.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 20vh;
}

.time-control {
    display: grid;
    grid: 1fr / minmax(4.5rem, max-content) 1fr minmax(4.5rem, max-content);
    place-items: center;
    width: 50%;

    input {
        width: 100%;
        padding: 1em 0;
    }

    p {
        padding: 1em;
    }
}
   
.play-control {
    display: flex;
    justify-content: space-evenly;
    width: 30%;

    svg {
        cursor: pointer;
    }
}