*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

@import "./components/Controls/controls";
@import "./components/Song/song";
@import "./components/Library/library";
@import "./components/LibrarySongItem/library-song-item";

.app-container {
    display: grid;
    grid: repeat(2, auto) / auto 1fr;
    height: 100vh;
}